@model IEnumerable<beach_sys.Models.Compartimento>

@{
    ViewData["Title"] = "Index";
    var armario = ViewData["Armario"];
    var Compartimento = ViewBag.Compartimento;
    var id = ViewBag.id;
    var secondId = ViewBag.secondId;
}

<h1>Compartimentos Disponíveis @armario</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamanho)
            </th>
            <th>Aberto</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tamanho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aberto)
                </td>
                <td>
                    @if (Compartimento == null)
                    {
                        <a asp-action="Escolher" asp-route-id="@id" asp-route-secondId="@secondId"
                    asp-route-compartimentoId="@item.CompartimentoId" asp-route-switchAction="0">Escolher</a>
                    }
                    else
                    {
                        if (item.CompartimentoId == Compartimento)
                        {
                            <a asp-action="Escolher" asp-route-id="@id" asp-route-secondId="@secondId"
                    asp-route-compartimentoId="@item.CompartimentoId" asp-route-switchAction="1">Encerrar</a>
                        }
                        else
                        {
                            <a asp-action="Escolher" asp-route-id="@id" asp-route-secondId="@secondId"
                    asp-route-compartimentoId="@item.CompartimentoId" asp-route-switchAction="2">Trocar</a>
                        }
                    }
                </td>
                <td>
                    @if (item.CompartimentoId == Compartimento)
                    {
                        if (item.Aberto)
                        {
                            <a asp-action="Escolher" asp-route-id="@id" asp-route-secondId="@secondId"
                    asp-route-compartimentoId="@item.CompartimentoId" asp-route-switchAction="3">Trancar</a>
                        }
                        else
                        {
                            <a asp-action="Escolher" asp-route-id="@id" asp-route-secondId="@secondId"
                    asp-route-compartimentoId="@item.CompartimentoId" asp-route-switchAction="3">Destrancar</a>
                        }

                    }


                </td>
            </tr>
        }
    </tbody>
</table>
